<tr>
    <td>
        <dropdown-branches></dropdown-branches>
    </td>
    <td>
        <h2 class="pull-right">{{ slug }}</h2>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div loader ng-if="repo.loading"></div>
        <breadcrumb data-repo="repo" data-slug="slug"></breadcrumb>
    </td>
</tr>
<tr ng-repeat="children in repo.tree">
    <td>
        <span class="fa fa-1x {{ children.type | icon }}"></span>
        <a ng-if="children.type === 'tree'" ui-sref="repository.tree({ slug: repo.slug, ref: repo.ref, path: children.full_path })">
            {{ children.name }}
        </a>
        <a ng-if="children.type === 'blob'" ui-sref="repository.blob({ slug: repo.slug, ref: repo.ref, path: children.full_path })">
            {{ children.name }}
        </a>
    </td>
    <td>
        <img ng-src="{{ children.last_commit.author.email | gravatar }}" title="{{ children.last_commit.author.name }}" />
        <a ui-sref="commit({sha: children.last_commit.sha})">{{ children.last_commit.message }}</a>
    </td>
</tr>